<!DOCTYPE html>
<html>
<head>
    <title>title</title>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <script>
        function test() {
            $.ajax({
                type: "POST",
                url: "/login",
                data: {
                    id: 'bb',
                    pw: 'cc'
                },

                complete: function (xhr) {
                    const token = xhr.getResponseHeader('Authorization');
                    localStorage.setItem('jwt_token', token);
                },
                success: function (response){
                    console.log(response)
                }

            })
        }

        function test22() {
            $.ajax({
                type: "GET",
                url: "/protected",
                data: {
                
                },
                beforeSend: function (xhr) {
                    const token = localStorage.getItem('jwt_token');
                    if (token) {
                        xhr.setRequestHeader('Authorization', token);
                    }
                },
                error: function (xhr) {
                   // xhr.responseJSON
                }
            })
        }
    </script>
</head>
<body>
    <button onclick="test()">tttt</button>
    <button onclick="test22()">aaaaa</button>
</body>
</html>